<h2>Tu tiendita contactanos</h2>
<p>Ante cualquier duda puedes contactarnos via mail o marcandoa a uno de nuestros telefonos en servicio</p>
<ul>
    <li>Buenos Aires: 011 121212</li>
    <li>Tandil: 2494029722</li>
    <li>Bahia Blanca: 248 020340</li>
</ul>

<h4>contactanos a travez de email</h4>
<div class="input-group">
    <div class="input-group-text" id="btnGroupAddon">&#64;</div>
    <input type="email" class="form-control" placeholder="email" aria-label="Input group example" aria-describedby="btnGroupAddon">
</div>
<div class="input-group">
    <div class="input-group-text" id="btnGroupAddon">&#354;</div>
    <input type="text" placeholder="asunto" class="form-control">
</div>
<div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
</div>