ul{
    margin-top: 10px;
    display: flex;
}
li{
    margin-right: 10px;
    height: auto;
}

p{
    width: 120px;
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}
